<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title>Dardel</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/yamm.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="js/jqueryv213.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
   </head>
   <body>

  {% include 'menu.html.twig' %}
  {% include 'slider.html.twig' %}


    <div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="ligne-centre"></div>
        </div>
        <div class="col-md-4">
            <div class="text-center"> <span class="quality-dardel">Quality </span>  with  <span class="quality-dardel"> Dardel</span></div>
        </div>
        <div class="col-md-4">
            <div class="ligne-centre"></div>
        </div>
    </div>
</div>
<div class="bloc-produits">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div class="row">
                        {% for key, product in products %}
                        <div class="col-md-4">
                                <div class="text-center">
                                    <img class="img-responsive" src="'/{{ product.image1_small }}'">
                                    <h3>{{ product.nom }}</h3>
                                    <p>{{ product.titre }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html.twig' %}


</body>
</html>