body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #000;
    background: #fff;
    font-size: 18px;
    position: relative;
    margin: 0;

}
h2{
    font-variant:small-caps;
    text-align: center;
}
input[type=submit]{
    border: 1px solid #000;
    background-color: #efa747;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    outline-style: none;
    margin: 18px 0 10px 0;
    width: 150px;
    border-radius: 4px;
    font-variant:small-caps;
}
input[type=submit]:hover{
    color: #000;
}
label {
    display: block;
    width: 150px;
    float: left;
    margin: 5px 0 5px 85px;
    text-align: left;
    font-weight: bold;
    font-variant:small-caps;
}
input[type=text], input[type=password], select {
    width: 200px;
    border-radius: 4px;
    -webkit-border-radius: 4px;    
    height: 30px;
    margin: 5px 0 5px 0;    
}
textarea{
    width: 200px;
    height: 200px;
    border-radius: 4px;
    -webkit-border-radius: 4px;  
}
table tr td{
    border: 1px solid #efa747;
    border-radius: 4px;
    width: 615px;
    margin: 0 0 0 179px;
    text-align: center;   
}
th{
    background-color: #000;
    color: #efa747;
    font-weight: normal;
    border-radius: 4px;
    text-align: center;
}
#content{
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    top:-10px;
}
.required{
    color: #c75555;
}
.font-bold{
    font-weight: bold;
    font-size: 29px;
}
.error, .info{
    border: none;
    margin: 0 0 10px 0;
    text-align: center;
}
.error{
    background-color: #c75555;    
    color: #fff;
}
.info{
    background-color: #efa747;    
    color: #000;
}
.italic{
    font-style: italic;
}
.mini-size{
    font-size: 16px;
}
/** admin **/
#admin_connexion {
    text-align: left;
    width: 400px;
    margin: 0 auto;
    color : #000;
}
#admin_connexion_form label{
    text-align: center;
    margin: 5px 0 5px 120px;
}
#admin_connexion_form{
    border: 2px solid #efa747;
    border-radius: 4px;
    width: 396px;
    margin: 0 0 0 0;
    text-align: center;
}
#admin_logo{
    margin: 150px 0 50px 0;
    width: 100%;
}
/** navbar **/
#admin_navbar{
    width: 100%;
    background-color:#000;    
    height: 50px;
}
#admin_navbar_container{
    width: 1000px;    
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
}
#navbar_logo{
    width: 10%;
    margin: 10px 0 0 0;
}
/** link logout **/
#link_logout{
    float: right;
    cursor: pointer;
}
#link_logout input[type=submit]{
    border: none;
    background-color: #000;
    color: #efa747; 
    cursor: pointer;
    font-size: 18px;
    outline-style:none;
    margin:18px 0 0 0;
}
/** sub navbar **/
#admin_menu ul{
    max-width: 1000px;
    min-width: 800px;
    margin: auto;
    height: 20px;
    list-style-type: none;
    text-align: center;
    padding: 5px 0 35px 150px;
}
#admin_menu li,  .admin_sub_menu li{
    font-variant:small-caps;
    letter-spacing:0.06em;
    float:left;
    padding:0;
    margin:0 10px 0 0;
    background-color:#000;
    -moz-border-radius:5px;
    -webkit-border-radius:5px; 
    border-radius:5px;
}
#admin_menu li a {
    display: block;
    width: 150px;
    text-decoration: none;
    padding: 6px;
    color: #fff;
    background-color: #000;
    border-radius:4px;
}
#admin_menu ul li a:hover {
    color: #efa747;
}
#admin_title_user{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    color: #000;
    font-variant:small-caps;
}
#admin_menu .active a{    
    color: #efa747;
}
.admin_sub_menu ul {
    max-width: 1000px;
    min-width: 800px;
    margin: auto;
    height: 20px;
    list-style-type: none;
    text-align: center;
    padding: 5px 0 35px 180px;
}
.admin_sub_menu li a{
    display: block;
    width: 300px;
    text-decoration: none;
    padding: 6px 0;
    color: #fff;
    background-color: #efa747;
    border-radius:4px;
    border: 2px solid #000;
}
.admin_sub_menu ul li a:hover {
    color: #000;
}
/** form **/
#user_form, #category_form, #specification_form, #specification_update_form, #product_form, #picture_form{
    border: 2px solid #efa747;
    border-radius: 4px;
    width: 615px;
    margin: 0 0 0 179px;
    text-align: center;
}
#user_form p, #category_form p, #specification_form p, #specification_update_form p, #product_form p, #picture_form p{
    font-style: italic;
    font-size: 14px;
    text-align: left;
    margin: 5px 0 5px 85px;
    color: #c75555;
}

#specification_list{
    margin: 50px 0 0 0;
}

#specification_list #height,  #specification_list #width{
    width: 50px;
}

#specification_list #designation{
    width: 400px;
}

#specification_list #code{
    width: 100px;
}
#specification_list td {
    background-color: #F5E8D7;

}
#specification_list input[type=text] {
    font-weight: bold;
    font-size:12px;
    background-color: #F5E8D7;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .5);

}
#specification_list p {
    text-align: center;
}
